<div class="table-box statistic-box">
    <table class="table">
        <caption>Статистика</caption>
        <tr>
            <td>Организационно-правовая форма </td>
            <td ng-bind="ctrl.name"></td>
        </tr>
        <tr>
            <td>Полное наименование</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Сокращённое наименование</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>ИНН</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Юридический адрес</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Контактный телефон </td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Факс</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Адрес электронной почты</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>ФИО руководителя</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>ФИО начальника отдела кадров</td>
            <td>xxx</td>
        </tr>


    </table>
</div>